{% extends "base.html" %}

{% block title %}내 프로필{% endblock %}

{% block content %}
<h1>내 프로필</h1>

<h2>계정 정보</h2>
<table>
    <tr>
        <td>사용자명</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>이메일</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>이메일 인증</td>
        <td>{% if user.is_email_verified %}인증됨{% else %}미인증{% endif %}</td>
    </tr>
    <tr>
        <td>가입일</td>
        <td>{{ user.date_joined|date:"Y-m-d" }}</td>
    </tr>
</table>

<h2>계정 관리</h2>
<ul>
    <li><a href="{% url 'account:change_password' %}">비밀번호 변경</a></li>
    {% if not user.is_email_verified %}
        <li><a href="{% url 'account:verification_required' %}">이메일 인증</a></li>
    {% endif %}
    <li><a href="{% url 'account:delete_account' %}">계정 삭제</a></li>
</ul>
{% endblock %} 