argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
cffi==1.17.1
Django==5.2.3
iniconfig==2.1.0
MarkupSafe==3.0.2
packaging==25.0
pluggy==1.6.0
pycparser==2.22
Pygments==2.19.1
pytest==8.4.0
pytest-django==4.11.1
sqlparse==0.5.3
Werkzeug==3.1.3
